<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>About</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- style css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- responsive-->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- awesome fontfamily -->
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <!--    &lt;!&ndash;[if lt IE 9]>-->
    <!--      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]&ndash;&gt;-->
</head>
<!-- body -->

<body class="main-layout">
<!-- loader  -->
<div class="loader_bg">
    <div class="loader"><img th:src="@{/images/loading.gif}" alt=""/></div>
</div>
<!-- end loader -->
<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/">Home</a>
    <a th:href="@{/users/register}">Register</a>
    <a th:href="@{/users/login}">Login</a>
    <a class="active" th:href="@{/about}">About</a>
    <a th:href="@{/forecast}">Forecasts</a>
    <a th:href="@{/testimonial}">Testimonial</a>
    <a th:href="@{/contact}">Contact</a>
</div>
<!-- header -->
<header>
    <!-- header inner -->
    <div class="head-top">
        <div class="container-fluid">
            <div class="row d_flex">
                <div class="col-sm-3">
                    <div class="logo">
                        <a href="/">Forex Bet</a>
                    </div>
                </div>
                <div class="col-sm-5">
                    <ul class="social_icon text_align_right d_none">
                        <li><a href="Javascript:void(0)"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="Javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="email text_align_right">
                        <li class="d_none"><a href="register.html"><i class="fa fa-registered"
                                                                      aria-hidden="true"></i></a></li>
                        <li class="d_none"><a href="login.html"><i class="fa fa-user" style="cursor: pointer;"
                                                                   aria-hidden="true"></i></a></li>
                        <li>
                            <button class="openbtn" onclick="openNav()"><img th:src="@{/images/menu_btn.png}"></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
<!-- about -->
<div id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about_border">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="titlepage text_align_left">
                                <h2>About Us</h2>
                            </div>
                            <div class="about_text">
                                <p>
                                    We are a team of professionals who have been trading in the stock markets for
                                    over 15 years. We use several strategies that are constantly refined and adapted
                                    to the movements of the stock markets, and over the last 3 years, the success
                                    rate of our predictions has been 95%.
                                    We are NOT a broker through which you can trade Forex. We only show you the
                                    movement of the market through our prediction, and you can trade through your
                                    broker regardless of whether it is located in Bulgaria or abroad. The platforms
                                    we use for our predictions are MetaTrader 4 and MetaTrader 5, but they are also
                                    compatible with other platforms used by various brokers, not only in our country
                                    but also outside it.
                                </p>
                                <!-- <a class="read_more" href="about.html">Read More</a> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about_img">
                                <figure><img class="img_responsive" th:src="@{/images/about-page.jpg}" alt="#"/>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->
<!-- footer -->
<footer th:replace="~{fragments/commons::footer}"></footer>
<!-- end footer -->
<!-- Javascript files-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.0.0.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>