<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Login</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- style css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- responsive-->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- awesome fontfamily -->
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>
<!-- body -->
<body class="main-layout">
<!-- loader  -->
<div class="loader_bg">
    <div class="loader"><img th:src="@{/images/loading.gif}" alt=""/></div>
</div>
<!-- end loader -->
<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/">Home</a>
    <a th:href="@{/users/register}">Register</a>
    <a class="active" th:href="@{/users/login}">Login</a>
    <a th:href="@{/about}">About</a>
    <a th:href="@{/forecast}">Forecasts</a>
    <a th:href="@{/testimonial}">Recommendation</a>
    <a th:href="@{/contact}" sec:authorize="isAuthenticated()">Contact</a>
</div>
<!-- header -->
<header>
    <!-- header inner -->
    <div class="head-top">
        <div class="container-fluid">
            <div class="row d_flex">
                <div class="col-sm-3">
                    <div class="logo">
                        <a href="/">Forex Bet</a>
                    </div>
                </div>
                <div class="col-sm-5">
                    <ul class="social_icon text_align_right d_none">
                        <li><a href="Javascript:void(0)"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="Javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <nav th:replace="~{fragments/commons::nav}"></nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
<!-- login -->
<div class="works">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>Login</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="works_vedio">
                    <form th:action="@{/users/login}" th:method="post">
                        <div class="container">
                            <div th:if="${param.error}" class="alert alert-danger">
                                <strong>Wrong username or password!</strong>
                            </div>
                            <div>
                                <label for="username"><b>Username</b></label>
                                <input th:value="${username}" id="username" name="username" type="text"
                                       placeholder="Enter your username" required minlength="3" maxlength="20">
                            </div>
                            <div>
                                <label for="password"><b>Password</b></label>
                                <input type="password" placeholder="Enter your password" id="password" name="password"
                                       required minlength="5" maxlength="20">
                                <small class="text-danger" th:if="${bad_credentials}">Invalid username or
                                    password!</small>

                                <div class="container register" th:if="${bad_credentials}">
                                    <p>Create new account? <a class="register" th:href="@{/users/register}">Register</a>.</p>
                                </div>
                            </div>

                            <div>
                                <label>
                                    <input type="checkbox" name="remember-me"> Remember me
                                </label>
                            </div>

                            <div>
                                <button type="submit">Login</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end login -->
<!-- footer -->
<footer th:replace="~{fragments/commons::footer}"></footer>
<!-- end footer -->
<!-- Javascript files-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.0.0.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>

</html>