<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Forex Bet</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- style css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- responsive-->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- awesome fontfamily -->
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <!--    &lt;!&ndash;[if lt IE 9]>-->
    <!--      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]&ndash;&gt;-->
</head>
<body>

<!--<nav>-->
<!--    <ul class="nav">-->
<!--        <li sec:authorize="isAuthenticated()">-->
<!--            <a th:href="@{/my-account}">My Account</a>-->
<!--        </li>-->
<!--        <li sec:authorize="hasRole('Admin')">-->
<!--            <a th:href="@{/forecasts/add}">Add Forecast</a>-->
<!--        </li>-->
<!--        <li sec:authorize="isAuthenticated()">-->
<!--            <a th:href="@{/orders/order}">My Orders</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a th:href="@{/forecasts/ui}">Free Forecast</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->

<nav>
    <ul class="email text_align_right">
        <li class="d_none" sec:authorize="isAnonymous()"><a th:href="@{/users/register}"><i class="fa fa-registered"
                                                              aria-hidden="true"></i></a></li>
        <li class="d_none" sec:authorize="isAnonymous()"><a th:href="@{/users/login}"><i class="fa fa-user" style="cursor: pointer;"
                                                           aria-hidden="true"></i></a></li>
        <li class="d_none">
            <form th:action="@{/users/logout}" sec:authorize="isAuthenticated()" th:method="post">
                <button type="submit" class="logout-button">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </button>
            </form>
            <!--            <a th:action="@{/users/logout}" sec:authorize="isAuthenticated()" th:method="post" onclick="logout();">-->
<!--                <i class="fa fa-sign-out" aria-hidden="true"></i>-->
<!--            </a>-->
        </li>
        <li>
            <button class="openbtn" onclick="openNav()"><img th:src="@{/images/menu_btn.png}"></button>
        </li>
    </ul>
</nav>

<wellcome>
    <ul class="user-nav">
        <li class="welcome" sec:authorize="isAuthenticated()">
            Welcome,
            <th:block sec:authentication="name"></th:block>
            !
        </li>
        <li>
            <form th:action="@{/users/logout}" sec:authorize="isAuthenticated()" th:method="post">
                <input class="button" type="submit" value="Logout">
            </form>
        </li>
    </ul>
</wellcome>

<forecastNav>
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="/">Home</a>
        <a th:href="@{/users/register}">Register</a>
        <a th:href="@{/users/login}">Login</a>
        <a th:href="@{/about}">About</a>
        <a class="active" th:href="@{/forecast}">Forecasts</a>
        <a th:href="@{/testimonial}">Recommendation</a>
        <a th:href="@{/contact}">Contact</a>
    </div>
</forecastNav>

<forecast>
    <div class="wallet">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div id="wa_hover" class="wallet_box text_align_center">
                        <i><img th:src="@{/images/wa1.svg}" alt="#"/></i>
                        <h3>FREE FORECASTS</h3>
                        <p><a th:href="@{/free-forecasts}">Check all active free forecasts</a></p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div id="wa_hover" class="wallet_box text_align_center">
                        <i><img th:src="@{/images/wa2.svg}" alt="#"/></i>
                        <h3>MY FORECASTS</h3>
                        <p><a th:href="@{/my-forecasts}">Check your bought forecasts</a></p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div id="wa_hover" class="wallet_box text_align_center">
                        <i><img th:src="@{/images/wa3.svg}" alt="#"/></i>
                        <h3>ACTIVE FORECASTS</h3>
                        <p><a th:href="@{/active-forecasts}">Check all active forecasts</a></p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div id="wa_hover" class="wallet_box text_align_center">
                        <i><img th:src="@{/images/wa4.svg}" alt="#"/></i>
                        <h3>EXPIRED FORECASTS</h3>
                        <p><a th:href="@{/expired-forecasts}">Check all expired forecasts</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</forecast>

<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a class="logo_bottom" href="/">Forex Bet</a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="Informa conta">
                        <h3>Contact Us</h3>
                        <ul>
                            <li><a href="Javascript:void(0)"> <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Location</a></li>
                            <li><a href="Javascript:void(0)"><i class="fa fa-phone" aria-hidden="true"></i> Call +359
                                777123456</a></li>
                            <li><a href="Javascript:void(0)"> <i class="fa fa-envelope" aria-hidden="true"></i>
                                demo@gmail.com</a></li>
                        </ul>
                        <ul>
                            <li>You can contact us</li>
                            <li>by visiting our office,</li>
                            <li>calling us by phone,</li>
                            <li>or sending us an e-mail.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="Informa helpful">
                        <h3>Useful Links</h3>
                        <ul>
                            <li>Basic Forex trading</li>
                            <li>How to trade Forex</li>
                            <li>Forex signals</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="Informa">
                        <h3>Offices</h3>
                        <ul>
                            <li>Office Sofia</li>
                            <li>Office Plovdiv</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="Informa">
                        <h3>Newsletter</h3>
                        <form class="newslatter_form">
                            <input class="ente" placeholder="Enter your email" type="text" name="Enter your email">
                            <button class="subs_btn">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="copyright text_align_center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>© 2023 All Rights Reserved. Design by Georgi Petrov</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>