<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Forex Bet</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- style css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- responsive-->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- awesome fontfamily -->
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <!--    &lt;!&ndash;[if lt IE 9]>-->
    <!--      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]&ndash;&gt;-->
</head>
<body>

<nav>
    <ul class="nav">
        <li>
            <a href="/">Home</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/my-account}">My Account</a>
        </li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/users/register}">Register</a>
        </li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/users/login}">Login</a>
        </li>
        <li sec:authorize="hasRole('Admin')">
            <a th:href="@{/forecasts/add}">Add Forecast</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/orders/order}">My Orders</a>
        </li>
        <li>
            <a th:href="@{/forecasts/ui}">Free Forecast</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/contact}">Contact Us</a>
        </li>
        <li>
            <a th:href="@{/about}">About Us</a>
        </li>
        <li class="welcome" sec:authorize="isAuthenticated()">
            Welcome,
            <th:block sec:authentication="name"></th:block>!
        </li>
        <li>
            <form th:action="@{/users/logout}" sec:authorize="isAuthenticated()" th:method="post">
                <input class="button" type="submit" value="Logout">
            </form>
        </li>
    </ul>
</nav>

<footer>
    <p>© Trading Forecasts 2023. All rights reserved.</p>
</footer>

</body>
</html>